<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.ImageMapper">

    <insert id="insert">
        insert into image_table(url, name, size, create_time) VALUES (#{url}, #{name}, #{size}, #{createTime})
    </insert>
    <select id="list">
        select * from image_table order by id desc limit 50;
    </select>
</mapper>